.score {
    margin-top: 180px;
    font-size: 3500%;
    float: left;
    width: 50%;
    text-align: center;
}

body {
    background-color: black;
}

#red-score {
    color: #f33;
}

#blue-score {
    color: #33f;
}
